<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Custom suite" parallel="false">
    <test verbose="1" name="ButtonClickGame" annotations="JDK">
        <classes>
            <class name="tests.GamerTest"/>
            <class name="tests.GameSessionTest"/>
        </classes>
    </test>
</suite>