@charset "utf-8";
/* CSS Document */

#me, #enemy {
	background:url(../img/board.gif) 0 0 no-repeat;
}

#me {
	height: 55px;
	background-position: 40px -10px;
}

#enemy {
	height: 35px;
	background-position: 20px 0px;
}

#space_between {
	height: 400px; /*480 - 2 x 20*/
}

#game_space {
	background:url(../img/ball.gif) 30px 30px no-repeat;
}
