@charset "utf-8";
/* CSS Document */

#me, #enemy {
	height: 30px;
	background:url(../img/board.gif) 0 0 no-repeat;
}

#me {
	background-position: 40px 0px;
}

#enemy {
	background-position: 20px 10px;
}

#space_between {
	height: 420px; /*480 - 2 x 20*/
}

#game_space {
	background:url(../img/ball.gif) 30px 30px no-repeat;
}