<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Теннис - Игры@Технопарк</title>

		<link type="text/css" rel="stylesheet" href="css/base.css"/>
		<link type="text/css" rel="stylesheet" href="css/nav.css"/>

		<link type="text/css" rel="stylesheet" href="css/game.css"/>
      <link type="text/css" rel="stylesheet" href="css/game_zone.css"/>

   	<script type="application/javascript" src="js/jquery.js"></script>
      <script type="application/javascript" src="js/game.js"></script>
	</head>
	<body>
    	<#include "nav.html">
		<#include "logo.html">
      <table style="margin: 0 auto;">
			<tr>
				<td><p class="points" id="yourPoints">0</p></td>   
				<td>
			    	<div id="game_space" style="border: 1px solid;">
						<div id="enemy"></div>
						<div id="space_between"></div>
						<div id="me"></div>
			    	</div>
				</td>
				<td><p class="points" id="enemyPoints">0</p></td>
			</tr>
		</table>
	</body>
</html>
