<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Теннис - Игры@Технопарк</title>

		<link type="text/css" rel="stylesheet" href="css/base.css"/>
		<link type="text/css" rel="stylesheet" href="css/nav.css"/>

		<link type="text/css" rel="stylesheet" href="css/game.css"/>
      <link type="text/css" rel="stylesheet" href="css/game_zone.css"/>

   	<script type="application/javascript" src="js/jquery.js"></script>
      <script type="application/javascript" src="js/game.js"></script>
	</head>
	<body>
    	<#include "nav.html">
		<#include "logo.html">
         
    	<div id="game_space" style="border: 1px solid;">
			<div id="enemy">
			</div>
			<div id="space_between"></div>
			<div id="me">
			</div>
    	</div>
	</body>
</html>
